<!-- START FOOTER -->
<div class="footer">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content-block">
        <span class="apple-link">{{ company_address }}</span>
        <br> Не хотите больше получать уведомления?? <a href="{{ unsuscribe_link }}">Отписаться</a>.
      </td>
    </tr>
    <tr>
      <td class="content-block powered-by">
        {{ copyright }}.
      </td>
    </tr>
  </table>
</div>
<!-- END FOOTER -->
